openapi: 3.0.3
info:
  title: Holidoit Welfare Provider API
  description: |
    API for welfare providers to integrate with the Holidoit booking platform.

    The Holidoit Welfare Integration allows corporate welfare platforms to provide their employees 
    with a seamless booking experience for travel and leisure activities.

    **Key Features:**
    - Single Sign-On (SSO) via JWT tokens
    - Wallet-based payments using employee welfare credits
    - Real-time authorization for purchases

    **Key Benefits:**
    - Employees access Holidoit through a dedicated welfare portal
    - Purchases are authorized against the employee's welfare budget
    - Secure RSA-signed JWT authentication


    ---

    ## Authentication Flow

    ### Step 1: Send User to Holidoit

    When an employee clicks to access Holidoit from the welfare portal, the provider must:
    1. Generate a signed JWT token containing user information and available credit
    2. Send a POST request to Holidoit's login endpoint (`/welfare/login/`)

    **Request Parameters:**
    | Parameter | Type | Description |
    |-----------|------|-------------|
    | `provider` | string | Provider's unique subdomain identifier (e.g., `poste`) |
    | `token` | string | JWT token signed with provider's private key |
    | `callbackURL` | URL | URL Holidoit will call for purchase authorization |
    | `redirectURL` | URL | URL to redirect user after completing a purchase |

    ### Step 2: Holidoit Validates and Creates Session

    Holidoit will:
    1. Decode and verify the JWT using the provider's public key
    2. Extract user information and available credit
    3. Redirect the user to: `https://{provider}.welfare.holidoit.com?session_id={uuid}`

    ### Step 3: User Browses and Shops

    The user can now browse experiences, pick one and proceed to checkout using their welfare credits.

    ---

    ## Purchase Authorization Flow

    When a user confirms a purchase, Holidoit requests authorization from the welfare provider.

    ### Step 1: Authorization Request

    Holidoit will call the `callbackURL` provided during login with a POST request:
    
    
    ### Step 2: Provider Validates and Authorizes

    The welfare provider must:
    1. Verify the JWT signature using Holidoit's public key
    2. Check sufficient funds in the user's wallet
    4. Deduct the amount from the user's balance
    5. Return success or failure response

    ---

    ## JWT Token Specification

    ### Inbound Token (Provider → Holidoit)

    JWT token sent during login must contain the following claims:

    | Claim | Description |
    |-------|-------------|
    | `sub` | Unique user identifier (stable across sessions) |
    | `iss` | Provider's identifier |
    | `aud` | Holidoit's identifier for this provider |
    | `iat` | Token issued at (Unix timestamp) |
    | `exp` | Token expiration (Unix timestamp) |
    | `user_info` | Object with user details |
    | `user_info.first_name` | User's first name |
    | `user_info.last_name` | User's last name |
    | `user_info.fiscal_code` | Italian fiscal code (codice fiscale) |
    | `user_info.email` | User's email address |
    | `credit` | Object with wallet/credit information |
    | `credit.available_amount` | Available welfare credit (decimal) |
    | `credit.available_fringe_amount` | Available fringe benefits (decimal) |
    | `credit.currency` | Currency code (default: EUR) |

    **Example Token Payload:**
    ```json
    {
      "sub": "unique-user-identifier",
      "iss": "provider-identifier",
      "aud": "holidoit-identifier",
      "iat": 1704110400,
      "exp": 1704114000,
      "user_info": {
        "first_name": "Mario",
        "last_name": "Rossi",
        "fiscal_code": "RSSMRA85M01H501Z",
        "email": "mario.rossi@example.com"
      },
      "credit": {
        "available_amount": 500.00,
        "available_fringe_amount": 100.00,
        "currency": "EUR"
      }
    }
    ```

    ### Outbound Token (Holidoit → Provider)

    JWT for authorization requests contains:
    ```json
    {
      "iss": "holidoit-identifier",
      "aud": "provider-identifier",
      "sub": "unique-user-identifier",
      "iat": 1704110400,
      "exp": 1704110700
    }
    ```

    ### Cryptographic Requirements

    | Requirement | Value |
    |-------------|-------|
    | Algorithm | RS256 (RSA Signature with SHA-256) |
    | Key Size | Minimum 2048 bits (4096 recommended) |
    | Login Token Validity | Maximum 1 hour |
    | Authorization Token Validity | 5 minutes |

    ---

    ## Configuration Requirements

    | Item | Description |
    |------|-------------|
    | Provider Name | Unique identifier for the provider |
    | RSA Public Key | For verifying authorization request JWTs |
    | RSA Private Key | For verifying authorization request JWTs |
    | Frontend Subdomain | Subdomain for the dedicated welfare frontend (e.g., `poste` for `poste.welfare.holidoit.com`) |
    | Issuer Identifier (iss) | Holidoit's identifier for authorization JWTs |
    | Audience Identifier (aud) | Provider's identifier in Holidoit's JWTs |

    ### Tax Configuration (Optional)

    | Setting | Default |
    |---------|---------|
    | Tax Percentage | 0.00 |
    | Tax Class | F.C esente |

    ---

    ## Testing

    ### Sandbox Environment

    | Environment | URL |
    |-------------|-----|
    | API Base URL | `https://development.holydoit.com` |
    | Frontend URL | `https://{provider}.welfare.holido.it` |

    ---

    ## Support

    - **IT Support:** luca.leoni@holidoit.com
    - **Business Support:** irene@holidoit.com
    
    
    *Last updated: January 2026*
  version: 1.0.0
  contact:
    email: luca.leoni@holidoit.com
  license:
    name: Proprietary
    url: https://holidoit.com/terms

servers:
  - url: https://development.holydoit.com
    description: Sandbox environment for testing

paths:
  /welfare/login/:
    post:
      summary: Authenticate welfare user
      description: |
        Authenticates a user from a welfare provider and creates a session.

        The provider must send a signed JWT token containing the user's information
        and available welfare credit. Upon successful validation, the user will be
        redirected to the Holidoit welfare frontend.

        **Important**: This endpoint expects `application/x-www-form-urlencoded` content type.
      operationId: welfareLogin
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/WelfareLoginRequest"
            examples:
              standard:
                summary: Standard login request
                value:
                  provider: poste
                  token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                  callbackURL: https://welfare-provider.com/api/authorize
                  redirectURL: https://welfare-provider.com/return
      responses:
        "302":
          description: |
            Successful authentication. User is redirected to the welfare frontend.

            The redirect URL will be: `https://{provider}.welfare.holidoit.com?session_id={uuid}`
          headers:
            Location:
              description: Redirect URL with session ID
              schema:
                type: string
                example: https://poste.welfare.holidoit.com?session_id=550e8400-e29b-41d4-a716-446655440000
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Invalid request data
                details:
                  token:
                    - This field is required.
        "401":
          description: Authentication failed (invalid or expired JWT)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Authentication failed
                details: Signature verification failed
        "404":
          description: Provider not found or inactive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Not found
                details: No active configuration found for this provider

components:
  schemas:
    WelfareLoginRequest:
      type: object
      required:
        - provider
        - token
        - callbackURL
        - redirectURL
      properties:
        provider:
          type: string
          description: |
            Provider's unique subdomain identifier.
            This must match the configured `frontend_subdomain` for the provider.
          example: poste
        token:
          type: string
          description: |
            JWT token signed with the provider's RSA private key (RS256 algorithm).

            The token must contain the following claims:
            - `sub`: Unique user identifier (stable across sessions)
            - `iss`: Provider's identifier
            - `aud`: Holidoit's identifier for this provider
            - `iat`: Token issued at (Unix timestamp)
            - `exp`: Token expiration (Unix timestamp)
            - `user_info`: Object containing user details
            - `credit`: Object containing wallet information
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLTEyMzQ1IiwiaXNzIjoicG9zdGUtd2VsZmFyZSIsImF1ZCI6ImhvbGlkb2l0IiwiaWF0IjoxNzA0MTEwNDAwLCJleHAiOjE3MDQxMTQwMDAsInVzZXJfaW5mbyI6eyJmaXJzdF9uYW1lIjoiTWFyaW8iLCJsYXN0X25hbWUiOiJSb3NzaSIsImZpc2NhbF9jb2RlIjoiUlNTTVJBODVNMDFINTAxWiIsImVtYWlsIjoibWFyaW8ucm9zc2lAZXhhbXBsZS5jb20ifSwiY3JlZGl0Ijp7ImF2YWlsYWJsZV9hbW91bnQiOjUwMCwiYXZhaWxhYmxlX2ZyaW5nZV9hbW91bnQiOjEwMCwiY3VycmVuY3kiOiJFVVIifX0.signature
        callbackURL:
          type: string
          format: uri
          description: |
            URL that Holidoit will call to request purchase authorization.

            When a user confirms a purchase, Holidoit will send a POST request
            to this URL with the order details and a signed JWT for verification.
          example: https://welfare-provider.com/api/holidoit/authorize
        redirectURL:
          type: string
          format: uri
          description: |
            URL to redirect the user after completing a purchase.

            After a successful purchase authorization, the user can be
            redirected back to the welfare provider's portal.
          example: https://welfare-provider.com/dashboard

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          oneOf:
            - type: string
            - type: object
          description: Additional error details

    JWTPayload:
      type: object
      description: Expected structure of the JWT token payload
      required:
        - sub
        - iss
        - aud
        - iat
        - exp
        - user_info
        - credit
      properties:
        sub:
          type: string
          description: Unique user identifier (stable across sessions)
          example: user-12345
        iss:
          type: string
          description: Provider's identifier
          example: poste-welfare
        aud:
          type: string
          description: Holidoit's identifier for this provider
          example: holidoit
        iat:
          type: integer
          description: Token issued at (Unix timestamp)
          example: 1704110400
        exp:
          type: integer
          description: Token expiration (Unix timestamp)
          example: 1704114000
        user_info:
          $ref: "#/components/schemas/JWTUserInfo"
        credit:
          $ref: "#/components/schemas/JWTCredit"

    JWTUserInfo:
      type: object
      description: User information in the JWT payload
      required:
        - first_name
        - last_name
        - fiscal_code
        - email
      properties:
        first_name:
          type: string
          description: User's first name
          example: Mario
        last_name:
          type: string
          description: User's last name
          example: Rossi
        fiscal_code:
          type: string
          description: Italian fiscal code (codice fiscale)
          example: RSSMRA85M01H501Z
        email:
          type: string
          format: email
          description: User's email address
          example: mario.rossi@example.com

    JWTCredit:
      type: object
      description: Wallet/credit information in the JWT payload
      required:
        - available_amount
        - available_fringe_amount
        - currency
      properties:
        available_amount:
          type: number
          format: decimal
          description: Available welfare credit
          example: 500.00
        available_fringe_amount:
          type: number
          format: decimal
          description: Available fringe benefits
          example: 100.00
        currency:
          type: string
          description: Currency code
          default: EUR
          example: EUR

tags:
  - name: Authentication
    description: Endpoints for user authentication from welfare providers
